@page
@model Tekken8.Pages.BattleTrackerModel

<h1>Input your TekkenID here</h1>

<form method="post">
    <label asp-for="TekkenID">TekkenID</label>
    <input asp-for="TekkenID" type="text" />
    <input type="submit" value="Search Recent battles" />
</form>

@if (Model.Battles != null && Model.Battles.Any())
{
    foreach (var battle in Model.Battles)
    {
        <div class="battle">
            <h2>Battle Type: @battle.BattleType</h2>
            <p>Player 1: @battle.P1Name</p>
            <p>Player 2: @battle.P2Name</p>
            <p>Result: @battle.Winner</p>
            <p>Date: @battle.BattleAt</p>
        </div>
    }
}
else
{
    <p>No battles found for the provided TekkenID.</p>
}